@page
@model StudentInformationPage.Pages.account_data.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.USername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.USername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.YearLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.YearLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.ContactNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
